body{
    font-family: 'Times New Roman', Times, serif;
}
body h1,h4{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2vh;
}
.card{
    width: 100%;
    min-height: 45vh;
    height: fit-content;
    padding: 2vh;
    border-radius: 2vh;
    border: #063203 solid 1px;
    background-color: #ffffff;
    margin-bottom: 2vh;
}

#card-img img {
    display: flex;
    align-items: center;
    width: 100%; /* Assure que l'image prend toute la largeur de son conteneur */
    height: 13vh; /* Conserve les proportions de l'image */
    object-fit: cover; /* Remplie le conteneur sans déformer l'image */
    border-radius: 10vh;
    margin-top: 1vh;
}

button{
    height: 5vh;
    width: 100%;
    border: none;
    border-radius: 2vh;
    background-color: #063203;
    color: #fcfcfc;
}
.card:hover{
    box-shadow: 2px 5px 10px rgba(126, 126, 126, 0.5);
}
input{
    width: 70%;
    display: flex;
    border: black solid 1px;
    margin-right: 20px;
}

/* alimentation  */
.card-al{
    width: 100%;
    height: 28vh;
    border-radius: 2vh;
    border: #063203 solid 1px;
    background-color: #ffffff;
    margin-bottom: 2vh;
    background-color: #06320317;
}

#detail{
    background-color: #ffffff;
    height: 100%;
    border-top-left-radius: 2vh;
}

#card-img{
    height: 100%;
    border-bottom-right-radius: 2vh;
}
