/* header  */
.menu-fixe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-fixe .nav ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

.menu-fixe .nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu-fixe button {
    height: 5vh;
    width: 15vh;
    border: #000000 solid 1px;
    border-radius: 5vh;
    color: #000000;
    background-color: rgba(245, 245, 245, 0);
}

.menu-fixe button:hover {
    border: #000000 solid 1px;
    color: #ffffff;
    background-color: #000000;
}

#formulaire{
    background-color:rgba(197, 197, 197, 0.342);
    margin-top:15vh;
    width:60vh;
}

.alert{
    width: 50vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    height: 8vh;
    width: 100%;
    font-size: larger;
    border: none;
    border-radius: 2vh;
    color: #ffffff;
    background-color: #000000;
}

.btn:hover{
    background-color: #868686;
    color: #000000;
}

